<div class="container__big-card">
  <div class="big-card__picture">
    <img src="https://i.stack.imgur.com/luaq2.png" height="200px">
  </div>
  <div class="big-card__title">
    <h1><a href="#">Saiu a nova versão do Angular</a></h1>
  </div>
  <div class="big-card__description">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec aliquam tortor erat, nec rhoncus urna imperdiet
      sed. Phasellus hendrerit velit a dolor condimentum euismod. Nullam pulvinar at augue rhoncus dictum. Praesent
      tincidunt justo sit amet felis sagittis, nec faucibus purus rutrum. Duis sodales rutrum ex sed fermentum. Mauris
      finibus viverra felis a consectetur. Phasellus non erat ut est finibus accumsan.</p>
  </div>

</div>
